<!DOCTYPE html>
<html>
<head>
  <title>Gtfs</title>
  <%= stylesheet_link_tag    "gtfs/application", :media => "all" %>
  <%= javascript_include_tag "gtfs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
